.loader{
    background: #2D4F9A;
    min-height: 100%;
}
.loader img {
    margin-top: 25%;
}
.loaderSpinner {
    width: 28px;
    height: 28px;
    stroke: #fff;
    fill: #fff;
    color: white;
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}