ion-item{
  border-radius: 25px;
  margin: 10px !important;
  border-color: #cbd8dc !important;
  border: 1px solid #cbd8dc;
}
ion-label{
    font-weight: bold;
}
ion-button{
    margin: 10px !important;
}
ion-tab-bar{
  --background: linear-gradient(#3260c3, #008ac5) !important;
  display: flex !important;
}