.btn {
  width: 100%;
  --background-activated: #2F3634;
  --background: #2F3634;
  background-color: #ffffff00;
  color: white;
  padding: 0px !important;
  margin: 0px !important;
}
.numeros {
    width: 100%;
    position: absolute;
    top: 5px;
    text-align: center;
}
ion-tab-bar{
    --background: linear-gradient(#3260c3, #008ac5) !important;
    display: flex !important;
  }
.logo{
    width: 80px;
    margin-left: 15px;
  }
ion-select {
    background-color: #c9c9c9;
    border-radius: 8px;
    color: #878787;
}
.title {
    color: #1f3156;
    font-weight: bold;
  }
.list{
    font-size: larger;
    padding-bottom: 3%;
    padding-top: 3%;
    color: #122c3b;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2px !important;
    top: 5px;
}

.icon {
    font-size: x-large;
}
.total{
    background-color: #c1cfd4;
    color: #de0000;
    text-align: center;
    padding: 2%;
    font-size: xx-large;
}
.input {
    font-size: -webkit-xxx-large;
        color: #c1cfd4;
}
.contenedor{
  overflow-y: scroll;
}
.contenedorLista {
      color: #c1cfd4;
  }
  .abajo {
      position: absolute;
      bottom: 0px;
      width: 100%;
  }
