<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="logo" src="../../assets/img/logoApp.png" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"
        style="background-color: transparent;font-size: xx-large;padding: 0px !important;color: #ffffff;">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header has-tabs">
  <ion-col size-md="12" size-xs="8" offset-xs="2" size-sm="12" size-lg="12" size-xl="6" offset-md="3">
    <div class='cabecera'>
      <p>Tique GOL</p>
    </div>
    <ion-list>
      <ion-item (click)='resultadosGol()' class="item  ion-text-wrap"> 
        <ion-text color="#f5f5f5">Resultados</ion-text>
      </ion-item>

      <ion-item (click)='movimientosGol()'  class="item  ion-text-wrap"> 
        <ion-text color="#f5f5f5">Movimientos</ion-text>
      </ion-item>

      <ion-item (click)='categoriasGol()'  class="item  ion-text-wrap"> 
        <ion-text color="#f5f5f5">Meter Gol</ion-text>
      </ion-item>

    </ion-list>
  </ion-col>
</ion-content>

<ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" (click)="movimientos()">
        <ion-label class="label">Movimientos</ion-label>
      </ion-tab-button>
  
      <!-- Placeholder tab for custom center FAB -->
      <ion-tab-button>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2" (click)="apostar()">
        <ion-label class="label">Selecciona</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  <ion-fab horizontal="center" vertical="bottom" edge>
    <ion-fab-button (click)="inicio()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>