.iconWhats{
  color: #4AC959;
}
.textContacto{
    color: #cbd8dc;
    font-size: medium;
}
.contacto {
  /* background-color: #122c3b; */
  /* font-size: medium; */
  /* text-align: center; */
  /* padding: 3px; */
  /* position: fixed; */

  padding-top: 30px;
}
.seleccionar {
  background-color: rgba(255, 255, 255, 0.431372549);
  color: #122C64;
  border-radius: 5px;
  margin-bottom: 5%;
  border-color: rgba(255, 0, 0, 0);
  padding: 5px;
  height: 40px;
}
ion-grid{
  height: 100%;
  background-image: linear-gradient(#000000, #3eb8cc) !important;
}

.btnAbajo {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.btnLogin {
    background-color: #122C64;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
}
.btnIngresar{
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

a{
    color: #ffffff;
}
.label {
   background-color: #122C3A;
    border-radius: 25px;
    padding: 18px !important;
}
.span{
    color: #CAD8DC;
}
.input{
  background-color: #ffffff6e;
  color: #122C64;
  border-radius: 5px;
  margin-bottom: 5%;
  border-color: #ff000000;
  padding: 5px;
}
.list{
  text-align: center;
  padding: 20px;
}


.imgLogo {
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
}
