ion-icon{
      color: #cbd8dc;
}
ion-list{
    margin: 2%;
    background-color: #071721;
}
ion-grid{
    color: #836c6c;
}
.num {
    text-align: end;
}
ion-tab-bar{
    --background: linear-gradient(#3260c3, #008ac5) !important;
    display: flex !important;
  }
.logo{
    width: 80px;
    margin-left: 15px;
  }
ion-button{
    margin-bottom: 10%;
}

.row {
    background-color: #d1d1d1;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin-bottom: 2px;
}

.por {
    text-align: center;
}
.title {
    color: #1f3156;
    font-weight: bold;
  }
