.btn {
  width: 100%;
  --background-activated: #2F3634;
  --background: #2F3634;
  background-color: #ffffff00;
  color: white;
  padding: 0px !important;
  margin: 0px !important;
}
ion-tab-bar{
  --background: linear-gradient(#3260c3, #008ac5) !important;
  display: flex !important;
}
.logo{
  width: 80px;
  margin-left: 15px;
}
.numeros {
    width: 100%;
    position: absolute;
    top: 5px;
    text-align: center;
}
ion-select {
    background-color: #132d3a;
    color: #cbd8dc;
}
.list{
  font-size: larger;
  padding-bottom: 3%;
  padding-top: 3%;
  border-bottom: 1px solid #88be25;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2px !important;
  top: 5px;
}

.icon {
    font-size: x-large;
    color: #8b8b8b;
}
.total{
    background-color: #c1cfd4;
    color: #de0000;
    text-align: center;
    padding: 2%;
    font-size: xx-large;
}
.input {
    font-size: -webkit-xxx-large;
        color: #c1cfd4;
}
.contenedor{
  overflow-y: scroll;
}
.contenedorLista {
      max-height: 120px;
      height: 120px;
      overflow-y: scroll;
      border: 0px solid;
      box-shadow: 2px 3px #88888842;
      position: relative;
      color: #c1cfd4;
  }
  .abajo {
      position: absolute;
      bottom: 0px;
      width: 100%;
  }


  ion-item{
    color: #787878;
    border-radius: 10px;
    margin-bottom: 4px;
    --background: #f7f7f7 !important;
  }
