ion-icon{
      color: #cbd8dc;
}
ion-list{
    margin: 2%;
    background-color: #071721;
}
.logo{
    width: 80px;
    margin-left: 15px;
  }ion-tab-bar{
    --background: linear-gradient(#3260c3, #008ac5) !important;
    display: flex !important;
  }