ion-select{
  background-color: #c9c9c9;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 4%;
}
.row {
  justify-content: center;
  text-align: center;
}
ion-button{
    width: 90%;
}

.options{
  text-align: center;
}