.numeros {
    margin-left: 10%;
}
ion-list{
    background-color: #f3f5f6;
    color: #4f5d7b;
    font-weight: bold;
    margin-top: 5%;
    border-radius: 8px;
}
.num {
    padding: 0px;
    margin: 0px;
}
.item {
    --background: #ffffff00 !important;
}
ion-tab-bar{
    --background: linear-gradient(#3260c3, #008ac5) !important;
    display: flex !important;
  }
.logo{
    width: 80px;
    margin-left: 15px;
  }
.title {
    color: #1f3156;
    font-weight: bold;
  }
