
.disponible{
  font-size: xx-large;
  background-color: #cbd8dc94;
  padding: 14%;
  text-align: center;
  margin-top: 10%;
  font-weight: bold;
  color: #cbd8dc;
}
ion-tab-bar{
  --background: linear-gradient(#3260c3, #008ac5) !important;
  display: flex !important;
}
ion-item{
  color: #787878;
  border-radius: 10px;
  margin-bottom: 4px;
  --background: #f7f7f7 !important;
}
.logo{
  width: 80px;
  margin-left: 15px;
}

.btn{
  margin: 2%
}

ion-refresher ion-refresher-content {
     background: #CAD8DC;
    --color:#122C3A!important;
}
.icon {
  color: #a7a7a7;
}
