
ion-item{
  border-radius: 8px;
  margin-bottom: 10px !important;
  border: 1px solid #747474;
}

ion-label{
  font-weight: bold;
}
ion-button{
  margin: 10px !important;
}
ion-tab-bar{
  --background: linear-gradient(#3260c3, #008ac5) !important;
  display: flex !important;
}
h5{
  color: #cbd8dc;
}
.title {
  color: #1f3156;
  font-weight: bold;
}