
ion-item{
    border-radius: 8px;
    margin-bottom: 10px !important;
    border: 1px solid #747474;
}

ion-label{
    font-weight: bold;
}
ion-button{
    margin: 10px !important;
}
h5{
    color: #cbd8dc;
}
ion-tab-bar{
    --background: linear-gradient(#3260c3, #008ac5) !important;
    display: flex !important;
  }
.title {
    color: #1f3156;
    font-weight: bold;
  }

.seleccionar{
    margin-bottom: 10px;
    border: 2px solid #b9b9b9;
    border-radius: 8px;
}